# =========================
# OS / system files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editor / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary / backup files
# =========================
*.tmp
*.temp
*.bak
*.swp
*.swo
*~

# =========================
# Environment / secrets
# =========================
.env
.env.*